// Fonts

// - Families
$uconn_sans: 'Proxima Nova' !default;
$uconn_serif: 'Georgia' !default;

// - Weights
$semi_bold_font: 600;
$bold_font: 700;


// Colors
$uconn_blue: #000e2f;
$uconn_red: #b10200;
$uconn_yellow: #ffcd00;
$uconn_black: #000000;
$uconn_white: #ffffff;

$uconn_grey-light: #efefef;
$uconn_grey-dark: #555555;

// Breakpoints
$large_bp: 75em;
$medium_bp: 62em;
$small_bp: 48em;
$medium_small_bp: 37.5em;
$mobile_bp: 24em;
$small_mobile_bp: 18.75em;

%link_icon {
  align-items: center;
  background-color: $uconn_grey-dark;
  border: 1px $uconn_grey-dark solid;
  border-radius: 100%;
  box-shadow: none;
  color: #ffffff;
  display: flex;
  height: 40px;
  justify-content: center;
  padding: unset;
  text-decoration: none;
  width: 40px;
  &:hover,
  &:focus {
    background-color: $uconn_blue;
    border: 1px $uconn_blue solid;
  }
}

%social_icon {
  fill: white;
  height: 60%;
  width: 60%;
}