// import .scss files here.
@import 'variables';
@import 'bb-overrides/bb-overrides';
@import 'layout/layout';
@import 'typography/typography';
@import 'hamburgers/hamburgers';
@import 'form-overrides/form-overrides';

* {
    box-sizing: border-box;
}

html,
body {
    background-color: $uconn_white;
    margin: 0;
}


