$ucblogs_accent: #ffcd00 !default;

// buttons and inputs
main {
  input[type=submit],
  .first-post_container .first-post_link,
  .more-posts,
  %uc-button {
    box-shadow: none;
    background-color: $ucblogs_accent;
    border: 3px solid $ucblogs_accent;
    &:hover,
    &:focus {
        background-color: transparent;
    }
    @media screen and (max-width: 48em) {
      background-color: transparent;
      border: none;
      box-shadow: inset 0 -0.14em $ucblogs_accent;
      &:hover,
      &:focus {
        background-color: $ucblogs_accent;
        transition: .35s;
      }
    }
  }
}

main {
  .fl-builder-content {
    .fl-button-wrap {
      a.fl-button {
        @extend %uc-button;
      }
    }
  }
}

// general links
main,
footer {
  a,
  .sites-list_link {
    box-shadow: inset 0 -0.14em $ucblogs_accent;
    &:hover,
    &:focus {
      background-color: $ucblogs_accent;
      transition: .35s;
    }
  }
}

// main nav styles
header {
  .am-list-item {
    &:hover,
    &:focus {
      > .am-submenu-toggle,
      > .am-link {
        border: 1px solid $ucblogs_accent;
      }
    }
  }
  li[class*='current-menu'] {
    > .am-submenu-toggle,
    > .am-link {
      border: 1px solid $ucblogs_accent;
    }
  }
  li[data-has-children='true']:hover {
    ul {
      li:hover {
        background-color: $ucblogs_accent;
      }
    }
  }
}

// breadcrumbs
ol.breadcrumbs {
  a {
    box-shadow: inset 0 -0.14em $ucblogs_accent;
    &:hover,
    &:focus {
      background-color: $ucblogs_accent;
    }
  }
}

// posts
.site-posts_container {
  .site-link {
    border: 2px solid $ucblogs_accent;
      &:hover,
      &:focus {
        background-color: $ucblogs_accent;
        border: 2px solid $ucblogs_accent;
      }
  }
  .no-posts {
    border: 3px $ucblogs_accent solid;
  }
}

// icons

main {
  .fl-icon-group {
    .fl-icon {
      background-color: $ucblogs_accent;
      border-color: $ucblogs_accent;
    }
    a:hover,
    a:focus {
      i:before {
        color: $ucblogs_accent;
      }
    }
  }
}

// sliders
main {
  .fl-slider-next,
  .fl-slider-prev {
    a:hover,
    a:focus {
      color: $ucblogs_accent;
    }
  }
}