.fl-module-uabb-contact-form7 {
  form.wpcf7-form {
    .wpcf7-list-item {
      display: block;
    }
    .wpcf7-form-control,
    .wpcf7-form-control::placeholder,
    .wpcf7-form-control:hover,
    .wpcf7-form-control:focus {
      color: $uconn_blue;
      font-size: 16px;
    }
    input.wpcf7-submit {
      @extend %uc-button;
    }
    .wpcf7-response-output {
      margin: 0;
    }
  }
  .required-field {
    color: $uconn_red;
  }
  form.invalid {
    .wpcf7-not-valid-tip {
      color: $uconn_red;
    }
    .wpcf7-response-output {
      border-color: $uconn_red;
    }
  }
}
