main {
  button,
  input[type=submit],
  .first-post_container .first-post_link,
  %uc-button {
    box-shadow: none;
    background-color: $uconn_yellow;
    border: 3px solid $uconn_yellow;
    border-radius: 0;
    font-family: $uconn_sans;
    font-size: 1rem;
    font-weight: $bold_font;
    letter-spacing: .1em;
    padding: 0.5em 2em;
    text-transform: uppercase;
    &:hover,
    &:focus {
        background-color: transparent;
    }
    @media screen and (max-width: $small_bp) {
      background-color: transparent;
      border: none;
      box-shadow: inset 0 -0.14em $uconn_yellow;
      color: $uconn_blue;
      font-family: $uconn_serif;
      font-size: 1.3em;
      font-weight: inherit;
      letter-spacing: inherit;
      padding: 0 0 0.2em 0;
      text-decoration: none;
      text-transform: none;
      &:hover,
      &:focus {
        background-color: $uconn_yellow;
        transition: .35s;
      }
    }
  }
  .more-posts {
    background-color: $uconn_yellow;
    border: 3px solid $uconn_yellow;
    border-radius: 0;
    cursor: pointer;
    font-family: $uconn_sans;
    font-size: 1em;
    font-weight: $bold_font;
    letter-spacing: .1em;
    padding: 0.5em 2em;
    text-transform: uppercase;
    &:hover,
    &:focus {
        background-color: transparent;
    }
  }
}

main {
  .fl-builder-content {
    .fl-button-wrap {
      a.fl-button {
        @extend %uc-button;
      }
    }
  }
}