main {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $uconn_sans;
    span,
    a {
      font-family: $uconn_sans;
    }
  }
}

h1 {
  font-size: 3em;
  margin: .3em auto;
  @media screen and (max-width: $small_bp) {
    font-size: 2em;
  }
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4,
h5,
h6 {
  font-size: 1.25em;
}