%date {
    display: block;
    font-family: $uconn_sans;
    font-weight: $semi_bold_font;
    margin-bottom: 0.5em;
}

main {
  p,
  a,
  ol li,
  ul li {
    color: $uconn_blue;
    font-family: $uconn_serif;
    font-size: 1.3rem;
    line-height: 1.65;
  }
  p {
    code {
      padding: 0.1em 0.1em 0 0.1em;
    }
  }
  code,
  pre,
  code[class*="language-"],
  pre[class*="language-"] {
    background-color: $uconn_blue;
    border-radius: 0;
    color: white;
    text-shadow: 0 1px rgba(0, 14, 47, 0.3);
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1.3rem;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  time {
    @extend %date;
  }
  .site-list_date-small {
    @extend %date;
    display: none;
  }
  @media screen and (max-width: $small_bp) {
    time {
      display: none;
    }
    .site-list_date-small {
      display: block;
    }
  }
}

main,
footer {
  a,
  .sites-list a {
    box-shadow: inset 0 -0.14em $uconn_yellow;
    color: $uconn_blue;
    padding-bottom: 0.2em;
    text-decoration: none;
    &:hover,
    &:focus {
      background-color: $uconn_yellow;
      transition: .35s;
    }
  }
}

footer {
  font-family: $uconn_sans;
  p {
    margin: 0;
  }
  p + p {
    margin-top: 0.5em;
  }
  strong {
    font-size: 1.2em;
  }
  nav {
    a {
      box-shadow: none;
      text-decoration: underline;
      &:hover,
      &:focus {
        background-color: transparent;
        text-decoration: none;
      }
    }
  }
}

.mm-menu {
  font-family: $uconn_sans;
}

.site-list-title_link {
  font-size: inherit;
  font-family: inherit;
  box-shadow: none;
  line-height: inherit;
  padding: 0;
}

.site-list-excerpt {
  line-height: 1.5em;
}

.post-social-container * {
  font-family: $uconn_sans;
  font-size: 1em;
}

.error404,
.author__details-content {
  strong {
    font-family: $uconn_sans;
    font-size: 1.4em;
  }
  p,
  a {
    font-size: 1em;
  }
} 

