@import 'buttons';
@import 'headers';
@import 'type';

$font-base-url: '//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts';

@font-face {
  font-family: 'Proxima Nova';
  src: url($font-base-url+'/proximanova_thin_macroman/ProximaNova-Thin-webfont.eot') format('eot');
  src: url($font-base-url+'/proximanova_thin_macroman/ProximaNova-Thin-webfont.eot?iefix') format('eot'),
      url($font-base-url+'/proximanova_thin_macroman/ProximaNova-Thin-webfont.woff') format('woff'),
      url($font-base-url+'/proximanova_thin_macroman/ProximaNova-Thin-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url($font-base-url+'/proximanova_italic_macroman/ProximaNova-RegIt-webfont.eot');
  src: url($font-base-url+'/proximanova_italic_macroman/ProximaNova-RegIt-webfont.eot?#iefix') format('embedded-opentype'), url($font-base-url+'/proximanova_italic_macroman/ProximaNova-RegIt-webfont.svg#proxima_novaregular_italic') format('svg'), url($font-base-url+'/proximanova_italic_macroman/ProximaNova-RegIt-webfont.woff') format('woff'), url($font-base-url+'/proximanova_italic_macroman/ProximaNova-RegIt-webfont.ttf') format('truetype'); 
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url($font-base-url+'/proximanova_regular_macroman/ProximaNova-Reg-webfont.eot');
  src: url($font-base-url+'/proximanova_regular_macroman/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'), url($font-base-url+'/proximanova_regular_macroman/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg'), url($font-base-url+'/proximanova_regular_macroman/ProximaNova-Reg-webfont.woff') format('woff'), url($font-base-url+'/proximanova_regular_macroman/ProximaNova-Reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url($font-base-url+'/proximanova_italic_macroman/ProximaNova-RegIt-webfont.eot') format('eot');
  src: url($font-base-url+'/proximanova_italic_macroman/ProximaNova-RegIt-webfont.eot?iefix') format('eot'),
      url($font-base-url+'/proximanova_italic_macroman/ProximaNova-RegIt-webfont.woff') format('woff'),
      url($font-base-url+'/proximanova_italic_macroman/ProximaNova-RegIt-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url($font-base-url+'/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.eot') format('eot');
  src: url($font-base-url+'/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.eot?iefix') format('eot'),
      url($font-base-url+'/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.woff') format('woff'),
      url($font-base-url+'/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Proxima Nova';
    src: url($font-base-url+'/proximanova_bold_macroman/proximanova-bold-webfont.eot');
  src: url($font-base-url+'/proximanova_bold_macroman/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url($font-base-url+'/proximanova_bold_macroman/proximanova-bold-webfont.svg#proxima_nova_ltsemibold') format('svg'), url($font-base-url+'/proximanova_bold_macroman/proximanova-bold-webfont.woff') format('woff'), url($font-base-url+'/proximanova_bold_macroman/proximanova-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}