.author__details-container {
  margin: 0 auto;
  max-width: 35em;
  .author__details-image {
    height: $mobile_bp;
  }
  
  .author__details-name {
    font-family: $uconn_sans;
    font-size: 2em;
    margin-bottom: 0;
  }
}

.post-author-container {
  border: 1px solid $uconn_black;
  display: flex;
  padding: 1.5em;
  * {
    margin-top: 0;
  }
  .author__details-image {
    height: 6em;
    width: 6em;
  }
  .author__details-content {
    margin-left: 1.5em;
    flex: 2
  }
  @media screen and (max-width: $medium_small_bp) {
    flex-direction: column;
    .author__details-content {
      margin-left: 0;
      margin-top: 1em;
    }
  }
}
