.soc_med_dir_main {margin: 0 auto 5rem auto; max-width: 67.875rem; padding: 0 15px;}

.link_icon {
    @extend %link_icon;
    svg {
        @extend %social_icon;
    }
}

.org_divider {border: 1px solid #555; margin: 1em auto 0 auto;}
.soc_med_dir_main article{
    padding: 0;
}
.SMDir_FlexBox p {
    margin-top: 0;
    padding-top: 0.5rem;
}
#SocMedCatFilter {
    font: 400 14px Proxima Nova;
}
#SocMedTextFilter {
    font: 400 14px Proxima Nova;
}
.category-highlight .SMDir_Org{
    background-color: #fff9e0;
}
.category-highlight .SMDir_Org .org_title {
    font-size: 26px;
}
.SMDir_Org{
    padding: 16px 0 0 16px;
    border-bottom: 3px solid #555;
}
#ClearFilterBtn {
    font-size: 15px;
    margin: 0;
    font-weight: 400;
    padding: 0;
    text-transform: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-family: Proxima Nova;
}
#ClearFilterBtn:Hover {text-decoration: underline;}
#ClearCntr {
    padding: 0 1em 1em 1em;
    display:none;
    margin-top: 0.5rem;
}
.org_title a {
    font-size: 24px;
}
h3.org_title {
    margin-top: 0;
    margin-bottom: 0.4rem;
    min-width: unset;
}
#FilterContainer {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#FilterSection{
    background-color: #ffcd00;
    margin-bottom: 3em;
}
#FilterContainer label {
    font: 400 16px Proxima Nova;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 0.5em;
}

#CatFiltContainer{
    padding-top: 5px;
    display:flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}
#TextFiltContainer{
    padding-top: 5px;
    padding-right:10px;
    margin-right:16px;
}

.SMDir_FlexBox {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-block-end: 1rem;
}
.excerpt_cntr {
    flex: 3;
    min-width: 100%;
    margin-right: 15px;
}
.media_acct_links {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 0.5rem;
    min-width: 180px;
    max-width: 180px;
}

.title_no_desc {
    flex: 2;
    min-width: 450px;
}

.SMDir_FlexBox_Alternate{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.SMDir_FlexBox_Alternate .org_title{
    margin-right: 2rem;
    min-width: 100%;
    margin-bottom: 2rem;
} 

@media only screen and (min-width: 690px){
    #ClearFilterBtn{
        float: right;
        margin-right: 2em;
    }
    #ClearCntr{
        min-height: 1.5em;
        margin-top:0;
    }
    #CatFiltContainer{
        margin-top:0;
    }
    .excerpt_cntr{
        max-width: 775px;
        min-width: 230px;
    }
    .SMDir_FlexBox_Alternate .org_title{
        min-width: unset;
        margin-bottom:0;
    }
}