footer {
  background-color: $uconn_grey-light;
  min-height: 24.25em;
  padding: 3em 0;
  text-align: center;
  .widget {
    padding: 3em 0;
  }
  .social-list,
  .sites-list {
    list-style-type: none;
    padding: 0;
    .social-icon {
      font-size: 1.5rem;
    }
  }

  .sites-list {
    display: flex;
    margin: 2em 0 0;
    flex-direction: row;
    justify-content: center;
  }

  .sites-list_item,
  .social-list_item {
    display: inline-block;
    padding-inline: 0.2rem;
  }



  .social-svg {
    width: 3em;
    ellipse,
    path,
    polygon,
    rect {
      fill: $uconn_grey-dark;
    }
    &:hover, 
    &:focus {
      ellipse,
      path,
      polygon,
      rect {
        fill: $uconn_blue;
      }
    }
  }
  nav {
    margin: 0 auto;
    max-width: 40rem;
    li + li {
      margin-left: 1em;
    }
  }
  #footer-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    li + li {
      margin: 0;
    }
    li:last-child {
      a {
        cursor: text;
        text-decoration: none;
      }
    }
  }
  @media screen and (max-width: $medium_small_bp) {
    padding-bottom: 2em;
    nav {
      .menu {
        align-items: center;
        flex-direction: column;
      }
      li + li {
        margin-left: 0;
        margin-top: 1em;
      }
    }
  }
}