header {
  .sub-header {
    margin: 1em auto 0;
    max-width: $large_bp;
  }
  .site__name-wrapper {
    padding: 0 1em;
    p {
      display: inline-block;
    }
  }
  .site-name {
    color: $uconn_black;
    font-family: $uconn_sans;
    font-size: 1.5em;
    font-weight: $semi_bold_font;
    text-decoration: none;
  }
  .skip-link {
    position: absolute;
    top: -9999px;
    left: -9999px;
    padding: 1em;
    background-color: #ccc;
    color: #044778;
    text-decoration: underline;
    &:focus {
      z-index: 100;
      top: 120px;
      left: 20px;
    }
  }
  nav {
    margin: 0 auto;
    max-width: $large_bp;
    @media screen and (max-width: $medium_bp) {
      ul {
        margin-bottom: 0;
      }
    }
    @media screen and (max-width: $medium_small_bp) {
      display: none;
    }
  }
}

#uconn-banner {
  .row-container {
    max-width: $large_bp;
  }
}

#menu-icon {
  display: none;
  @media screen and (max-width: $medium_small_bp) {
    display: inline-flex;
    align-items: center;
    position: absolute;
    right: 0;
  }
}

.hamburger-label {
  font-family: $uconn_sans;
  font-size: 1.5em;
  @media screen and (max-width: $mobile_bp) {
    display: none;
  }
}

.hamburger-box {
  margin-left: 1em;
  display: inline-block;
}
