nav[id^='am-'] {
  .am-link,
  .am-submenu-link,
  .am-submenu-toggle {
    border: 1px solid transparent;
    color: $uconn_black;
    padding: 0.5rem 1rem;
    font-family: $uconn_sans;
    text-decoration: none;
    width: 100%;
    &:hover,
    &:focus {
       border: 1px solid $uconn_yellow;
    }
  }
  .am-submenu-list {
    .am-link {
      &:hover,
      &:focus {
        background-color: $uconn_yellow;
      }
    }
    .am-submenu-link {
      flex-grow: 1;
      width: unset;
      &:hover,
      &:focus {
        background-color: $uconn_yellow;
      }
    }
    .am-submenu-toggle {
      padding: 0.5em 1em;
      width: unset;
      &:hover,
      &:focus {
        background-color: $uconn_yellow;
      }
    }
    .am-submenu-list-open {
      padding-left: 0 !important;
      width: 100%;
      .am-link {
        padding-left: 2em;
      }
    }
  }
  .am-submenu-list-open {
    width: max-content;
  }
  button[aria-expanded='false'] {
    border: 1px solid transparent;
  }
  button[aria-expanded='true'] {
    border: 1px solid $uconn_yellow;
  }
  .am-outbound {
    a:after {
      content: '\f35a';
      font-family: 'Font Awesome 5 Free';
      margin-left: 0.25em;
      border: 1px solid transparent;  
    }
  }
}

.breadcrumb-nav {
  margin: 0 auto;
  max-width: 75em;
  padding: 0 1em;
}

ol.breadcrumbs {
  color: $uconn_blue;
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline;
  }
  a {
    box-shadow: inset 0 -0.14em $uconn_yellow;
    color: $uconn_blue;
    font-family: $uconn_sans;
    font-size: .9rem;
    padding-bottom: 0.2em;
    text-decoration: none;
    &:hover,
    &:focus {
      background-color: $uconn_yellow;
      transition: .35s;
    }
  }
  li + li {
    margin-left: 1em;
    &::before {
      content: '\f0da';
      display: inline-block;
      font-family: 'Font Awesome 5 Free';
      margin-right: 1em;
    }
    .fa-home {
      color: $uconn_blue;
    }
    a[aria-current] {
      box-shadow: none;
      color: inherit;
      text-decoration: none;
      &:hover,
      &:focus {
        background-color: transparent;
        cursor: text;
      }
    }
  }
  @media screen and (max-width: $medium_bp) {
    display: none;
  }
}