hr {
    border: 0.25em solid $uconn_black;
    margin: 3em auto;
    max-width: $large_bp;
}

.category-title {
  font-family: $uconn_sans;
  font-size: 2.5em;
}

.first-post_container {
    display: flex;
    max-height: 25em;
    .first-post_image--container {
        flex: 1;
        margin-right: 1em;
        img {
            height: auto;
            width: 100%;
        }
    }
    .first-post_content {
        flex: 1;
        margin-left: 1em;
    }
    @media screen and (max-width: $medium_bp) {
        .first-post-content {
            flex: 2;
        }
    }
    @media screen and (max-width: $small_bp) {
        border-bottom: none;
        flex-direction: column;
        margin-bottom: 0;
        max-height: 45em;
        padding-bottom: 1em;
        .first-post-image--container {
            margin-right: 0;
        }
        .first-post_content {
            margin-left: 0;
        }
        .site-list_date {
            display: none;
        }
        .site-list_date-small {
            display: none;
        }
    }
}

.blog {
    .site-posts_container {
        margin-bottom: 5em;
    }
}

.site-posts_container {
    h2 {
        color: $uconn_blue;
        font-family: $uconn_sans;
        font-size: 2em;
        margin-bottom: 0;
        margin-top: 0;
    }
    h3 {
        color: $uconn_blue;
        font-family: $uconn_sans;
        font-size: 2em;
        line-height: 1.3em;
        margin-bottom: 0;
    }
    ul {
        list-style-type: none;
        margin-bottom: 3em;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    li {
        max-width: 22em;
        margin-bottom: 2em;
    }
    li + li {
        margin-left: 2em;
    }
    .site-list-image--container {
        height: 15rem;
        img {
            max-height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .site-list-image_link {
        box-shadow: none;
        &:hover,
        &:focus {
            background-color: transparent;
        }
    }
    .site-link {
        border: 2px solid $uconn_yellow;
        box-shadow: none;
        color: $uconn_blue;
        display: block;
        font-family: $uconn_sans;
        font-weight: $bold_font;
        margin: 2em 0 1em;
        padding: 1em;
        text-align: center;
        text-transform: uppercase;
        &:hover,
        &:focus {
            background-color: $uconn_yellow;
            border: 2px solid $uconn_yellow;
            transition: .35s;
        }
    }
    .no-posts {
        border: 3px $uconn_yellow solid;
        font-family: $uconn_sans;
        font-size: 1em;
        font-weight: $bold_font;
        letter-spacing: .1em;
        padding: 1em;
        text-transform: uppercase;
        display: inline-block;
    }
    @media screen and (max-width: $medium_small_bp) {
        .first-post_excerpt,
        .first-post_link,
        .site-list-excerpt,
        .site-list-link {
            display: none;
        }
    }
    @media screen and (max-width: $small_bp) {
        hr {
            display: none;
        }
    }
}

.post-featured-image {
    img {
        width: 100%;
        height: 100%;
    }
}

.site-posts_container + .site-posts_container {
    border-top: 0.25em solid;
    margin-top: 3em;
    padding-top: 3em;
}

@supports (display: grid) {
    .site-posts_container {
        ul {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(19em, 1fr));
            grid-gap: 2em;
        }
        li {
            max-width: none;
            margin-bottom: 2em;
        }
        li + li {
            margin-left: 0;
        }
    }
}