#search-form {
  * + * {
    margin-top: 1.5em;
  }
  label {
    display: inline-block;
    font-family: $uconn_sans;
    font-size: 1.5em;
    font-weight: bold;
    max-width: 100%;
  }
  #search-input {
    display: block;
    font-size: 1em;
    height: 3rem;
    padding: 1em;
    width: 50%;
  }
}