%article-links {
  background-color: $uconn_grey-light;
  box-shadow: none;
  
  @media screen and (min-width: $small_mobile_bp) {
    font-size: 1.5em;
    padding: 1rem;
    position: absolute;
    top: 6em;
  }

  @media screen and (min-width: $medium_small_bp) {
    font-size: 1.5em;
    position: absolute;
    top: 8em;
  }

  @media screen and (min-width: $medium_bp) {
    font-size: 3.75em;
    padding: 1rem 1rem 1rem 2rem;
    position: fixed;
    top: 5em;
    z-index: 10;
  }
}


.prev-link {
  @extend %article-links;
  left: 0;
  @media screen and (max-width: $medium_small_bp) {
    padding-left: 1.5rem;
  }
}

.next-link {
  @extend %article-links;
  right: 0;
  @media screen and (max-width: $medium_small_bp) {
    padding-right: 1.5rem;
  }
}