.dpsp-share-text {
  display: inline;
  vertical-align: top;
  margin-right: 1em;
  font-family: 'Proxima Nova';
}

#dpsp-content-bottom {
  display: flex;
  margin: 0 auto;
  max-width: 39.5em;
  padding: 0 1em;
  li {
    margin-right: 1em;
    width: auto;
    span {
      background-color: $uconn_grey-dark;
      border-color: $uconn_grey-dark;
      &:hover {
        background-color: $uconn_blue;
        border-color: $uconn_blue;
      }
    }
  }
  &::before {
    content: 'Share';
    font-family: $uconn_sans;
    font-size: 1.2em;
    font-weight: $bold_font;
    margin-right: 1rem;
  }
}


div.post-social-container {
  max-width: 39.5em;
  padding: 0 1em;
}

.post-wrapper {
  #dpsp-content-bottom {
    padding: 0;
  }
  .post-social-container {
    padding: 0;
  }
}


.social-list {
  list-style-type: none;
  padding: 0;
}
.social-list_item {
  display: inline-block;
}
.social-list__share {
  font-size: 1.2em;
  font-family: $uconn_sans;
  font-weight: $bold_font;
  vertical-align: top;
}
.social-svg {
  width: 3rem;
  ellipse,
  path,
  polygon,
  rect {
    fill: $uconn_grey-dark;
  }
  &:hover, 
  &:focus {
    ellipse,
    path,
    polygon,
    rect {
      fill: $uconn_blue;
    }
  }
}