main {
  min-height: 50vh;
}

.util-wrapper {
  margin: 2em auto;
  max-width: $large_bp;
  padding: 0 1em;
}

.section-wrapper {
  @extend .util-wrapper;
}

.post-wrapper {
  margin: 2em auto;
  max-width: $medium_small_bp;
  padding: 0 1em;
  @media screen and (max-width: $small_bp) {
    margin: 5em auto;
  }
}

.post-wrapper_extra {
  margin: 2em auto;
  max-width: $medium_small_bp;
  padding: 0;
  @media screen and (max-width: $small_bp) {
    margin: 2em auto 0;
  }
}
