%uc-accordion-button {
  &:focus {
    box-shadow: 0 0 5px rgba(94, 158, 214, 1);
    box-shadow: 0 0 5px -webkit-focus-ring-color;
  }
}

main {
  .fl-accordion-button {
    @extend %uc-accordion-button;
  }
}