@import 'accordions';
@import 'content-slider';
@import 'gallery';
@import 'icons';
@import 'slideshow';
@import 'testimonials';

%uc-module-content {
  @media screen and (max-width: $medium_small_bp) {
    padding: 0 1em;
  }
}

.fl-module-content {
  @extend %uc-module-content;
}