%uc-slide-content-text {
  color: $uconn_black;
}

main {
  .fl-slide-content-wrap {
    .fl-slide-content {
      .fl-slide-title,
      .fl-slide-text * {
        @extend %uc-slide-content-text;
      }
    }
  }
}