%uc-icon-link {
  box-shadow: none;
  &:hover,
  &:focus {
    background-color: transparent;
  }
}

%uc-icon-group-icon {
  background-color: $uconn_yellow;
  border: 3px solid $uconn_yellow;
  padding: 1em;
  &:hover,
  &:focus {
    background-color: transparent;
  }
}

main {
  .fl-icon {
    a {
      @extend %uc-icon-link;
    }
  }
  .fl-icon-group {
    .fl-icon {
      @extend %uc-icon-group-icon;
    }
  }
  .icon-group-reset {
    .fl-icon-group {
      .fl-icon {
        background-color: unset;
        border: unset;
      }
    }
    a:hover,
    a:focus {
      i:before {
        color: $uconn_yellow;
      }
    }
  }
}