%uc-testimonial-arrows {
  box-shadow: none;
  &:hover,
  &:focus {
    background-color: transparent;
    box-shadow: none;
    color: $uconn_yellow;
  }
}

main {
  .fl-slider-next,
  .fl-slider-prev {
    a {
      @extend %uc-testimonial-arrows;
    }
  }
}